In [9]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-22 05:06:10--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240122T050610Z&X-Amz-Expires=300&X-Amz-Signature=085bbc6641ade1d137e8ceca3cc7002f95847f4099ade51501a15ff9a88316d6&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-22 05:06:10--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240122T050610Z&X-Amz-Expires=300&X-Amz-Signature=085bbc6641ade1d137e8ceca3cc7002f95847f4099ade51501a15ff9a88316d6&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-09.csv.gz’

green_tripdata_2019 100%[===================>]   7.49M  --.-KB/s    in 0.1s

2024-01-22 05:06:10 (69.9 MB/s) - ‘green_tripdata_2019-09.csv.gz’ saved [7854533/7854533]

--2024-01-22 05:06:11--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.76.142, 52.217.225.192, 54.231.160.216, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.76.142|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-22 05:06:11 (55.5 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [10]:
import glob
import pandas as pd
from time import time
import argparse, os
from sqlalchemy import create_engine

In [11]:
# Get data file names
path1 = './'
filenames = glob.glob(path1 + "/*.csv.gz")

In [12]:
dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))

/tmp/ipykernel_8188/2262951841.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(filename))

In [13]:
# Concatenate all data into one DataFrame and save
pd.concat(dfs, ignore_index=True).to_csv('output.csv', index=False)

In [23]:
engine = create_engine(f'postgresql://root:root@localhost:5432/ny_taxi')
# Schema properties
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

# transform data
# df_trans = pd.read_parquet(csv_name,  engine='auto').to_csv('output.csv',index=False)

# Load data
df_iter = pd.read_csv('output.csv', iterator=True, chunksize=100000)
df = next(df_iter)
df.head()

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [26]:
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
# create a table
df.head(0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [27]:
# load first batch
df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
# load the rest data
while True:
    try:
        t_start = time()
        
        df = next(df_iter)
        
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
        
        t_end = time()
        
        print('Inserted another chunk......, took %.3f seconds' % (t_end - t_start))
    except StopIteration as E:
        print('Completed.....')
        break

In [ ]:
taxi_zone = pd.read_csv('taxi+_zone_lookup.csv')
taxi_zone.to_sql(name='taxi_zone', con=engine, if_exists='replace')
taxi_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone