In [9]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-22 05:06:10--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240122T050610Z&X-Amz-Expires=300&X-Amz-Signature=085bbc6641ade1d137e8ceca3cc7002f95847f4099ade51501a15ff9a88316d6&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-22 05:06:10--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240122T050610Z&X-Amz-Expires=300&X-Amz-Signature=085bbc6641ade1d137e8ceca3cc7002f95847f4099ade51501a15ff9a88316d6&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-09.csv.gz’

green_tripdata_2019 100%[===================>]   7.49M  --.-KB/s    in 0.1s

2024-01-22 05:06:10 (69.9 MB/s) - ‘green_tripdata_2019-09.csv.gz’ saved [7854533/7854533]

--2024-01-22 05:06:11--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.76.142, 52.217.225.192, 54.231.160.216, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.76.142|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-22 05:06:11 (55.5 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [29]:
import glob
import pandas as pd
from time import time
import argparse, os
from sqlalchemy import create_engine

In [30]:
# Get data file names
path1 = './'
filenames = glob.glob(path1 + "/*.csv.gz")

In [31]:
dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))

/tmp/ipykernel_8188/2262951841.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(filename))

In [32]:
# Concatenate all data into one DataFrame and save
pd.concat(dfs, ignore_index=True).to_csv('output.csv', index=False)

In [33]:
engine = create_engine(f'postgresql://root:root@localhost:5432/ny_taxi')
# Schema properties
# print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

# transform data
# df_trans = pd.read_parquet(csv_name,  engine='auto').to_csv('output.csv',index=False)

# Load data
df_iter = pd.read_csv('output.csv', iterator=True, chunksize=100000)
df = next(df_iter)
df.head()
print(df.shape)

(100000, 20)

In [34]:
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
# create a table
df.head(0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [35]:
# load first batch
df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
print(df.shape)
# load the rest data
while True:
    try:
        t_start = time()
        
        df = next(df_iter)
        print(df.shape)
        
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
        
        t_end = time()
        
        print('Inserted another chunk......, took %.3f seconds' % (t_end - t_start))
    except StopIteration as E:
        print('Completed.....')
        break

(100000, 20)
(100000, 20)
Inserted another chunk......, took 11.136 seconds
(100000, 20)
Inserted another chunk......, took 11.117 seconds
(100000, 20)

/tmp/ipykernel_8188/2051474073.py:9: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk......, took 10.190 seconds
(49063, 20)
Inserted another chunk......, took 4.638 seconds
Completed.....

In [28]:
taxi_zone = pd.read_csv('taxi+_zone_lookup.csv')
taxi_zone.to_sql(name='taxi_zone', con=engine, if_exists='replace')
taxi_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone